.App {
  text-align: center;
}

.App-header {
  background-color: #101011;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.btnnn{
  margin:100px;
  border:none;
  background-color:orange;
  border-radius:20px;
  padding:1%;
}
.btnnn:hover{
  background-color: rgb(228, 72, 98);
}
.wdt{
  margin-left: 8%;
  float: left;
  width: 35%;
  font-family: sans-serif;
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.5);
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}
.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.card:hover{
  transform: scale(1.03);
  background-color: burlywood;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

.p-f{
  padding-left: 75%;
}